@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --corPrimary: #db3a00;
    --corBorder: #000000;
    --corBoxShadowMenu: rgb(63, 55, 55);
}

body{
    justify-items: center;
}

footer{
    display: flex;
    justify-content: space-around;
    
}

main{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.sect-conteudo{
    box-shadow: 0px 0px 8px 1px var(--corBoxShadowMenu);
    border-radius: 5px;
    max-width: 900px;
    width: 80%;
    margin: 2.5% 0;
    padding: 1% 0;
}

.span-alfa{
    color: var(--corPrimary);
}

@media (max-width: 500px) {
    .sect-conteudo{
        box-shadow: none;
    }
}