.lista-btn{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 30%;
}

.item-btn {
    border: 1px solid var(--corBorder);
    border-radius: 8px;
    background-color: var(--corButton);
    width: 100%;
    
    height: 40px;
    align-content: center;

    a{
        text-decoration: none;
        color: black;
        padding: 3%;
    }
}

.item-btn:hover{
    background-color: var(--corPrimary);
    font-size: 1.15em;
    transition: 0.2s;
}

@media (max-width: 600px) {
    footer{
        flex-direction: column;
        align-items: center;
    }

    .item-btn{
        width: 200px;
    }
}